<h5>
  Login
</h5>
<div>
  <div class="form-group">
    <label for="usuarioid">Email address</label>
    <input [(ngModel)]="usuario.nome" type="text" class="form-control" id="usuarioid" aria-describedby="" placeholder="Usuário">    
  </div>
  <div class="form-group">
    <label for="passwordid">Password</label>
    <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="passwordid" placeholder="Senha">
  </div>  
  <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Submit</button>
</div>