<h5>
  exemplos-pipes 
</h5>
<p>titulo: {{ livro.titulo | uppercase | lowercase }} </p>
<p>titulo: {{ livro.titulo | camelCase }} </p>
<p>rating: {{ livro.rating | number:'2.1-3' }} </p>
<p>numeroPaginas: {{ livro.numeroPaginas | number }} </p>
<p>preco: {{ livro.preco | currency:'BRL':false }} </p>
<p>dataLancamento: {{ livro.dataLancamento | date:'short' }} </p>
<p>dataLancamento: {{ livro.dataLancamento | date:'dd-MMM-yyyy' }} </p>
<p>url: {{ livro.url }} </p>
<br>
<p>livro: {{ livro | json}}</p>
