<p>Lista Cursos</p>
<p>Pagina: {{ pagina }}</p>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered" style="max-width: 400px">
      <thead>
        <th>#</th>
        <th>Curso</th>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos" [routerLink]="['/curso',curso.id]">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button (click)="proximaPagina()">prox pagina</button>